# Ignore virtual environment folders
env/
venv/
ENV/
VENV/

# Python cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Environment files or secrets
.env
*.env

# Logs and system junk
*.log
